@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Services
8. Milestones
9. Agents
10. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #2b2e35;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.1435;
	font-weight: 500;
	color: #a2b0bf;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #adc867;
	color: #ffffff;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #2b2e35;
	font-weight: 600;
	margin-bottom: 0;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 600;
	color: #bdc4d4;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	line-height: 0.75;
}
.section_title
{
	margin-top: 13px;
}
.section_title h1
{
	font-weight: 600;
}
.super_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vw;
	background: rgba(255,255,255,0.8);
	z-index: 101;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.super_overlay.active
{
	opacity: 1;
	visibility: visible;
}
.button
{
	width: 247px;
	height: 61px;
	background: #adc867;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	background: #1e1332;
}
.button a
{
	display: block;
	height: 100%;
	line-height: 61px;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	z-index: 100;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.header.scrolled
{
	top: -55px;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.085);
}
.header_bar
{
	width: 100%;
	height: 55px;
	background: #55407d;
	padding-left: 64px;
	padding-right: 62px;
}
.header_list ul li:not(:last-of-type)
{
	margin-right: 49px;
}
.header_list ul li > div
{
	width: 23px;
	height: 23px;
}
.header_list ul li > div > img
{
	max-height: 100%;
	max-width: 100%;
	vertical-align: unset;
}
.header_list ul li span
{
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	margin-left: 13px;
}
.social ul li
{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #adc867;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:not(:last-of-type)
{
	margin-right: 13px;
}
.social ul li a
{
	display: block;
	height: 100%;
	line-height: 32px;
}
.social ul li a i
{
	font-size: 14px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:hover
{
	box-shadow: 0px 5px 10px rgba(173,200,103,0.2);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.log_reg
{
	margin-left: 48px;
}
.log_reg ul li
{
	position: relative;
}
.log_reg ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '/';
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	margin-left: 6px;
	margin-right: 6px;
}
.log_reg ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}
.log_reg ul li a:hover
{
	color: #adc867;
}
.header_content
{
	width: 100%;
	height: 61px;
	background: #ffffff;
	padding-left: 64px;
}
.logo
{

}
.logo a
{
	font-size: 24px;
	color: #6c7079;
	font-weight: 600;
}
.logo a span
{
	text-transform: uppercase;
	color: #2b2e35;
}
.main_nav
{
	height: 100%;
	margin-left: 133px;
}
.main_nav ul
{
	height: 100%;
}
.main_nav ul li
{
	position: relative;
	height: 100%;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 26px;
}
.main_nav ul li.active,
.main_nav ul li:hover
{
	background: #adc867;
}
.main_nav ul li a
{
	display: block;
	height: 100%;
	line-height: 61px;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 16px;
	font-weight: 500;
	color: #2b2e35;
}
.main_nav ul li.active a
{
	color: #ffffff;
}
.main_nav ul li a:hover
{
	color: #ffffff;
}
.submit
{
	width: 247px;
	background: #adc867;
	height: 100%;
	text-align: center;
}
.submit a
{
	display: block;
	height: 100%;
	line-height: 61px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}
.hamburger
{
	display: none;
	cursor: pointer;
}
.hamburger i
{
	font-size: 24px;
	color: #2b2e35;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #adc867;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -370px;
	width: 370px;
	height: 100vh;
	z-index: 102;
	background: #ffffff;
	padding-right: 30px;
	padding-top: 100px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	right: 0;
}
.menu_close
{
	position: absolute;
	top: 30px;
	right: 25px;
	padding: 5px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 20px;
	color: #2b2e35;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close:hover i
{
	color: #adc867;
}
.menu_log_reg
{
	display: inline-block;
}
.menu .log_reg
{
	border-bottom: solid 1px rgba(0,0,0,0.15);
}
.menu .log_reg ul li a
{
	color: #2b2e35;
	font-weight: 600;
}
.menu .log_reg ul li a:hover
{
	color: #adc867;
}
.menu .log_reg ul li:not(:last-of-type)::after
{
	color: #2b2e35;
	font-weight: 600;
}
.menu_nav
{
	margin-top: 42px;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 2px;
}
.menu_nav ul li a
{
	font-size: 28px;
	color: #2b2e35;
	font-weight: 600;
}
.menu_nav ul li a:hover
{
	color: #adc867;
}

/*********************************
5. Home
*********************************/

.home
{
	height: 261px;
}
.home_content
{
	padding-top: 173px;
}
.home_title
{
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
}

/*********************************
6. Intro
*********************************/

.intro
{
	background: #ffffff;
	padding-top: 92px;
	padding-bottom: 92px;
}
.intro_text
{
	margin-top: 36px;
}
.intro_button
{
	margin-top: 47px;
}
.intro_image
{
	height: 100%;
}
.intro_image > img
{
	display: none;
}
/******************
custom para readmore
*****************/
#more 
{
	display: none;
}
#more2 
{
	display: none;
}

/*********************************
7. Services
*********************************/

.services
{
	padding-top: 92px;
	padding-bottom: 66px;
	background: #f3f7fb;
}
.services_row
{
	margin-top: 80px;
}
.service
{
	background: #ffffff;
	padding-top: 36px;
	padding-left: 30px;
	padding-right: 15px;
	padding-bottom: 45px;
	margin-bottom: 28px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	border: solid 2px #adc867;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.service:hover::after
{
	visibility: visible;
	opacity: 1;
}
.service:hover
{
	box-shadow: 0px 14px 35px rgba(0,0,0,0.23);
}
.service_icon
{
	width: 38px;
	height: 50px;
}
.service_icon img
{
	max-height: 100%;
}
.service_title
{
	padding-left: 19px;
}
.service_text
{
	margin-top: 9px;
}

/*********************************
8. Milestones
*********************************/

.milestones
{
	padding-top: 41px;
	padding-bottom: 26px;
	background: #55407d;
}
.milestone_col
{
	margin-bottom: 35px;
}
.milestone_icon
{
	width: 50px;
	height: 63px;
}
.milestone_icon svg
{
	max-width: 100%	
	max-height: 100%;
}
.milestone_counter
{
	width: 186px;
	font-size: 72px;
	font-weight: 600;
	color: #ffffff;
	line-height: 0.75;
	margin-top: 9px;
}
.milestone_text
{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	margin-top: 15px;
}

/*********************************
9. Agents
*********************************/

.agents
{
	background: #ffffff;
	padding-top: 92px;
	padding-bottom: 92px;
}
.agents_row
{
	margin-top: 80px;
}
.agent_col
{
	margin-bottom: 30px;
}
.agent
{
	background: #f3f7fb;
}
.agent_content
{
	padding-left: 40px;
	padding-top: 36px;
	padding-right: 40px;
	padding-bottom: 22px;
}
.agent_name
{

}
.agent_name a
{
	font-size: 24px;
	font-weight: 600;
	color: #2b2e35;
}
.agent_name a:hover
{
	color: #adc867;
}
.agent_title
{
	font-size: 14px;
	font-weight: 500;
	color: #adc867;
	margin-top: 0px;
}
.agent_list
{
	margin-top: 32px;
}
.agent_list ul li:not(:last-of-type)
{
	margin-bottom: 9px;
}
.agent_list ul li
{
	font-size: 14px;
	font-weight: 500;
	color: #6c7079;
}
.agent .social
{
	margin-top: 33px;
	margin-left: -3px;
}
.agent .social ul li
{
	background: #dbe7f1;
}
.agent .social ul li:hover
{
	background: #adc867;
	transform: none;
	box-shadow: none;
}
.contact_row
{
	margin-top: 62px;
}

/*********************************
10. Footer
*********************************/

.footer
{
	
}
.footer_content
{
	padding-top: 88px;
	padding-bottom: 83px;
	background: #1e1332;
}
.footer_logo a
{
	font-size: 24px;
	font-weight: 500;
	color: #6c7079;
	line-height: 1.2;
}
.footer_logo a span
{
	text-transform: uppercase;
	color: #ffffff;
}
.footer_text
{
	margin-top: 32px;
}
.footer_text p
{
	color: #6c7079;
}
.footer .social
{
	margin-top: 33px;
}
.footer_submit
{
	max-width: 247px;
	height: 61px;
	background: #55407d;
	text-align: center;
	margin-top: 53px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_submit:hover
{
	background: #adc867;
}
.footer_submit a
{
	display: block;
	height: 100%;
	line-height: 61px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}
.footer_title
{
	font-size: 24px;
	font-weight: 500;
	color: #ffffff;
	line-height: 1.2;
}
.footer_info
{
	margin-top: 46px;
}
.footer_info ul li:not(:last-of-type)
{
	margin-bottom: 26px;
}
.footer_info ul li div
{
	width: 23px;
	height: 23px;
}
.footer_info ul li div img
{
	max-height: 100%;
}
.footer_info ul li span
{
	font-size: 14px;
	font-weight: 600;
	color: #6c7079;
	padding-left: 15px;
}
.usefull_links
{
	margin-top: 71px;
}
.usefull_links ul
{
	margin-top: 51px !important;
}
.footer_links ul
{
	margin-top: 40px;
}
.footer_links ul li:not(:last-of-type)
{
	margin-bottom: 17px;
}
.footer_links ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: #6c7079;
}
.footer_links ul li a:hover
{
	color: #adc867;
}
.listing_small
{
	margin-top: 50px;
	background: #ffffff;
}
.listing_small_image
{
	z-index: 1;
}
.listing_small_image > div:first-of-type
{
	overflow: hidden;
}
.listing_small_image > div:first-of-type img
{
	-webkit-transition: all 1600ms ease;
	-moz-transition: all 1600ms ease;
	-ms-transition: all 1600ms ease;
	-o-transition: all 1600ms ease;
	transition: all 1600ms ease;
}
.listing_small_image:hover > div:first-of-type img
{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.listing_small_tags
{
	position: absolute;
	top: 15px;
	left: 14px;
}
.listing_small_tag
{
	height: 35px;
	text-align: center;
	margin-bottom: 10px;
}
.listing_small_tag:not(:last-child)
{
	margin-right: 15px;
}
.listing_small_tag a
{
	display: block;
	height: 100%;
	font-size: 11px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	padding-left: 22px;
	padding-right: 19px;
	line-height: 35px;
	letter-spacing: 0.2em;
}
.tag_house
{
	background: #adc867;
}
.tag_sale
{
	background: #55407d;
}
.tag_rent
{
	background: #588dfb;
}
.listing_small_price
{
	position: absolute;
	left: 11px;
	bottom: -19px;
	display: inline-block;
	height: 37px;
	padding-left: 27px;
	padding-right: 26px;
	background: #ff006c;
	line-height: 37px;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.listing_small_location
{
	padding-left: 24px !important;
	padding-top: 40px;
	padding-bottom: 25px;
	padding-right: 20px;
	background: #f3f7fb;
	margin-top: 0 !important;
}
.listing_small_location > img
{
	margin-top: -3px;
}
.listing_small_location a
{
	max-width: 230px;
	margin-left: 17px;
	font-size: 14px;
	font-weight: 600;
	color: #2b2e35;
	line-height: 1.875;
}
.listing_small_location a:hover
{
	color: #adc867;
}
.listing_small_info
{
	background: #f3f7fb;
	padding-left: 37px;
	padding-right: 15px;
	padding-top: 18px;
	padding-bottom: 17px;
	margin-top: 2px;
}
.listing_small_info ul li
{
	margin-bottom: 10px;
}
.listing_small_info ul li:not(:last-of-type)
{
	margin-right: 28px;
}
.listing_small_info ul li span
{
	margin-left: 8px;
	font-size: 12px;
	font-weight: 600;
	color: #6c7079;
}
.footer_bar
{
	background: #110a1f;
}
.footer_bar_content
{
	height: 52px;
}
.copyright
{
	font-size: 14px;
	font-weight: 500;
	color: #6c7079;
}
.footer_nav ul li:not(:last-of-type)
{
	margin-right: 44px;
}
.footer_nav ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: #6c7079;
}
.footer_nav ul li a:hover
{
	color: #adc867;
}